html,body{
    background-color:rgb(117, 165, 254);
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    user-select: none;

}
input{
    margin: 4px auto;
    text-align: center;
    display: flex;
    width: 100px;
    justify-content: center;
    align-items: center;
    border: 0px;
    border-radius: 8px;

}
#container{
    padding: 10px;
    background: linear-gradient(#91d3ff, #41a4fa);
    display:flex;
    flex-direction: column;
    max-width: 400px;
    margin: 30px auto;
    box-shadow: 0px 1px 7px rgb(169, 242, 255);
    border: 0;
    border-radius: 10px;
}
    img{
        width: 200px;
        margin: auto;
    }
    h1{

        color: white;
    }
    textarea{
        height:60px;
        border: 0;
        border-radius: 8px;
        margin-bottom: 5px;
    }
    button{
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
        background-color: aqua;
    font-size: x-large;
        font-weight: bolder;
        border: 0;
        border-radius: 8px;
    }
    button:hover{
        background-color: #1b8383;
    }
    button:active{
        background-color: black;
        color: aqua;
    }
    li{
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    font-size: larger; 
        color: black;
    background-color: rgb(197, 245, 255);
    list-style:none ;
    padding: 10px;
    border: 0;
    border-radius: 5px;

    }
    li:hover{
        background-color: gray;
    }
    ul{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        padding: 0;
    }
    #notify{
    width: 100px;
    font-size:small;
    right: 20px;
    }